html,
body {
  min-width: 320px;

  padding: 0;
  margin: 0 auto;
  
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 30px;
  color: #000;

  background-color: #fff;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  
  a {
    color: #000;
    text-decoration: none;
  }
}
