/* Open Sans */

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/open-sans/open-sans-latin_cyrillic-regular.eot");
    src: local("Open Sans Regular"),
        local("OpenSans-Regular"),
        url("../fonts/open-sans/open-sans-latin_cyrillic-regular.eot?iefix") format("embedded-opentype"),
        url("../fonts/open-sans/open-sans-latin_cyrillic-regular.woff2"),
        url("../fonts/open-sans/open-sans-latin_cyrillic-regular.woff"),
        url("../fonts/open-sans/open-sans-latin_cyrillic-regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/open-sans/open-sans-latin_cyrillic-600.eot");
    src: local("Open Sans SemiBold"),
        local("OpenSans-SemiBold"),
        url("../fonts/open-sans/open-sans-latin_cyrillic-600.eot?iefix") format("embedded-opentype"),
        url("../fonts/open-sans/open-sans-latin_cyrillic-600.woff2"),
        url("../fonts/open-sans/open-sans-latin_cyrillic-600.woff"),
        url("../fonts/open-sans/open-sans-latin_cyrillic-600.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/open-sans/open-sans-latin_cyrillic-700.eot");
    src: local("Open Sans SemiBold"),
        local("OpenSans-SemiBold"),
        url("../fonts/open-sans/open-sans-latin_cyrillic-700.eot?iefix") format("embedded-opentype"),
        url("../fonts/open-sans/open-sans-latin_cyrillic-700.woff2"),
        url("../fonts/open-sans/open-sans-latin_cyrillic-700.woff"),
        url("../fonts/open-sans/open-sans-latin_cyrillic-700.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/open-sans/open-sans-latin_cyrillic-700.eot");
    src: local("Open Sans Italic"),
        local("OpenSans-Italic"),
        url("../fonts/open-sans/open-sans-latin_cyrillic-700.eot?iefix") format("embedded-opentype"),
        url("../fonts/open-sans/open-sans-latin_cyrillic-700.woff2"),
        url("../fonts/open-sans/open-sans-latin_cyrillic-700.woff"),
        url("../fonts/open-sans/open-sans-latin_cyrillic-700.ttf");
}

/* Lemon Tuesday */

@font-face {
    font-family: "Lemon Tuesday";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/lemon-tuesday/lemontuesday.eot");
    src: local("Lemon Tuesday"),
        local("LemonTuesday"),
        url("../fonts/lemon-tuesday/lemontuesday.eot?iefix") format("embedded-opentype"),
        url("../fonts/lemon-tuesday/lemontuesday.woff2"),
        url("../fonts/lemon-tuesday/lemontuesday.woff"),
        url("../fonts/lemon-tuesday/lemontuesday.ttf");
}