.main {
    display: grid;

    &__item {
        min-height: 570px;
        background-color: rgba(0, 0, 0, 0.493);
    }
}

@media (min-width: $tablet-width) {
}

@media (min-width: $desktop-width) {
}
