extends ../layouts/default.pug

block content
  main.main
    section.main__item
    section.main__item
    section.main__item
    section.main__item
    section.main__item
    section.main__item
    section.main__item
    section.main__item
    section.main__item
  