.contacts {
    grid-column: 1 / 4;
    height: 100%;
    background-color: #fff;

    &__shadow {
        height: 100%;
    }

    &__address,
    &__mail {
        .contacts__link {
            position: relative;
        }
    }

    
    &__maps,
    &__envelope {
        position: absolute;
        left: 0;
        fill: $main-color;
    }

    &__link {
        display: flex;
        align-items: center;
    }

    &__address,
    &__mail,
    &__call {
        font-weight: 400;
    }

    &__number {
        font-size: 18px;

        .contacts__link {
            justify-content: baseline;
        }
    }

    &__working {
        position: relative;
        top: -10px;
        font-size: 10px;
    }

    &__hidden {
        display: none;
    }

    &__call {
        width: 171px;
        margin-bottom: 15px;
        border: 1px solid $main-color;
        border-radius: 5px;

        .contacts__link {
            justify-content: center;
            color: $main-color;
            text-transform: uppercase;
        }
    }
}

@media (max-width: $onli-tablet-width) {
    .contacts {
        display: none;

        &__shadow {
            position: relative;
            background-color: #fff;
        }

        &__address,
        &__mail {
            order: 1;
            .contacts__link {
                padding-left: 30px;
                margin-left: 38px;
            }
        }

        &__number {
            padding-left: 68px;
        }

        &__call {
            margin-left: 68px;
        }
    }

    .contacts::before {
        position: fixed;
        z-index: 0;
  
        width: 100%;
        height: 100%;
  
        margin-top: -260px;
    
        content: "";

        background-color: black;
        opacity: 0.5;
    }

    .navigation--opened .contacts {
        position: fixed;
        display: block;
        width: 320px;
        height: 268px;
        margin-top: 260px;
    }

    .navigation--opened .contacts__list {
        display: grid;
    }
}

@media (min-width: $desktop-width) {
    .contacts {
        grid-row: 1 / 2;
        grid-column: 2 / 4;

        &__list {
            display: flex;
            justify-content: space-between;
            height: 100%;
        }

        &__link {
            justify-content: center;
            height: 100%;
        }

        &__link:not(.contacts__button) {
            padding-right: 30px;
            padding-left: 30px;
        }

        &__number {
            .contacts__link {
                align-items: flex-end;
                justify-content: start;
                height: 58%;
            }
        }
        
        &__call {
            position: relative;
            top: 50%;
            min-width: 171px;
            height: 38px;
            margin-top: -19px;
        }

        &__call:hover {
            background-color: $main-color;

            .contacts__link {
                color: #fff;
            }
        }
    
        &__working {
            position: relative;
            top: -15px;
        }
    }
}