.navigation {
    display: grid;
    grid-template-columns: 1fr 160px 1fr;
    min-height: 56px;
    font-size: 14px;
    font-weight: 600;

    &__site {
        display: none;
    }

    &__user {
        display: flex;
        justify-content: flex-end;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }

    &__cabinet {
        fill: $main-color;
    }

    &__basket {
        fill: $main-color;
        transform: scale(1.1);
    }

    &__toggle {
        margin-left: 15px;
        width: 30%;
    }
}

@media (max-width: $onli-tablet-width) {
    .navigation__link {
        height: 100%;
    }

    .navigation__user {
        padding-right: 15px;
    }

    .navigation__user .navigation__item {
        width: 35%;
        max-width: 38%;
    }

    .navigation__user .navigation__item:not(:last-child) {
        margin-right: 10px;
    }

    .navigation__user .navigation__link {
        font-size: 0;
    }

    .navigation--opened .navigation__site {
        position: fixed;
        z-index: 2;
        display: block;
        width: 320px;
        height: 260px;
        padding-top: 56px;
        background-color: #fff;
    }

    .navigation--opened .navigation__site .navigation__link {
        justify-content: start;
        padding-left: 68px;
        line-height: 40px;
    }

    /* Кнопка открытия */

    .navigation--closed .navigation__toggle {
        position: relative;
    }

    .navigation--closed .navigation__toggle::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 2px;
        margin-top: -6px;
        margin-left: -10px;
        content: "";
        background-color: $main-color;
        box-shadow: 0 6px 0 0 $main-color, 0 12px 0 0 $main-color;
    }

    /* Кнопка закрытия */

    .navigation--opened .navigation__toggle {
        position: fixed;
        top: 0;
        left: 264px;
        z-index: 3;
        display: block;
        width: 56px;
        height: 56px;
        outline: none;
    }

    .navigation--opened .navigation__toggle::before,
    .navigation--opened .navigation__toggle::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 1px;
        margin-left: -10px;
        content: "";
        background-color: #b4b4b4;
    }

    .navigation--opened .navigation__toggle::before {
        transform: rotate(45deg);
    }
  
    .navigation--opened .navigation__toggle::after {
        transform: rotate(-45deg);
    }

    // .js .navigation--opened .navigation__user {
    //   z-index: -1;
    // }

    .no-js .navigation--opened .navigation__toggle::before,
    .no-js .navigation--opened .navigation__toggle::after {
        display: none;
    }
}

@media (min-width: $tablet-width) {
    .navigation {
        min-height: 87px;
    }
}

@media (min-width: $desktop-width) {
    .navigation {
        grid-template-rows: 1fr min-content;
        grid-template-columns: min-content 1fr min-content;
        grid-column: 2 / 3;
        min-height: 149px;

        &__link {
            min-height: 50px;
            padding-right: 30px;
            padding-left: 30px;
        }

        &__link:hover {
            color: #fff;
            background-color: $button-color;
        }

        &__site {
            display: flex;
            flex-wrap: wrap;
            grid-column: 1 / 3;
            justify-content: space-between;
            margin-left: 15px;
        }

        &__user {
            flex-wrap: wrap;
            grid-gap: 15px;
            min-width: 326px;
            margin-right: 15px;

            .navigation__link {
                padding-right: 19px;
                padding-left: 41px;
            }
        }

        &__cabinet,
        &__basket {
            position: absolute;
            left: 11px;
        }

        &__toggle {
            display: none;
        }
    }

    .navigation__user .navigation__link {
        position: relative;
    }

    .navigation__user .navigation__link:hover {
        .navigation__cabinet,
        .navigation__basket {
            fill: #fff;
        }
    }
}